.App {
  text-align: center; 
}

.logo { 
  height: 6vmin; 
  width: 6vmin
}

.social-link-a { 
  color: white 
}

.project-card-grid { 
  margin: 50px
}

.summary-div { 
  display: block;
  padding: 1%;
}

.card { 
  color: red; 
  background-color: red;
}